body {
    padding: 2cm 5mm 0mm 5mm;    
}
i{
    position: absolute;
    margin-left: 40px;
    margin-top: 15px;
    font-weight: bolder;
}
.horizontal {
    text-align: right;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
nav .horizontal {
    display: inline-block;
}
.horizontal > * {
    display: inline;
}
input[name=search] {
    width: 200px;
}
.heading {
    position: absolute;
    margin-top: -10px;
    background-image: url(/logo.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}
.user{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 20px;
}
.datetime {
    font-size: smaller;
    font-style: italic;
    text-align: right;
}
.copyright {
    font-style: italic;
    text-align: right;
    margin-top: 100px;
}

.addendum {
    text-align: center;
}

.addendum img {
    max-width: 50%;
}
